@{
    ViewData["Title"] = "Acceso-Denegado";
}


<div class="shadow-lg p-3 mb-5 bg-white rounded text-center">
    <br />
    <h1 class="text-muted">¡Acceso Denegado!</h1>
    <br />
    <img src="~/images/denegado.png" />
    <br />
</div>
