@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="shadow-lg p-3 mb-5 bg-white rounded text-center">
    <br />
    <h1 class="text-danger">¡Acceso Denegado!</h1>
    <br />
    <img src="~/images/denegado.png" />
    <br />
    <p class="text-danger">No tienes acceso a este contenido.</p>
</div>