@page
@model RegisterModel
@inject AdminUAT.Data.NewUatDbContext context

@{ 
    var fiscaliasMp = new SelectList(context.Fiscalias.Select(x => new { Id = x.Id, Value = x.Name }).ToList(), "Id", "Value");
    var fiscalias = new SelectList(context.Fiscalias.Where(x=>x.Value!="FI").Select(x => new { Id = x.Id, Value = x.Name }).ToList(), "Id", "Value");
}

<h4 class="text-muted text-center"><i class="fas fa-user-plus"></i> Add usuario</h4>
<hr />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <label asp-for="Input.Nombre"></label>
            <input asp-for="Input.Nombre" class="form-control border border-primary" onkeyup="javascript:this.value=this.value.toUpperCase();" />
            <span asp-validation-for="Input.Nombre" class="text-danger"></span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <label asp-for="Input.PrimerApellido"></label>
            <input asp-for="Input.PrimerApellido" class="form-control border border-primary" onkeyup="javascript:this.value=this.value.toUpperCase();" />
            <span asp-validation-for="Input.PrimerApellido" class="text-danger"></span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <label asp-for="Input.SegundoApellido"></label>
            <input asp-for="Input.SegundoApellido" class="form-control border border-primary" onkeyup="javascript:this.value=this.value.toUpperCase();" />
            <span asp-validation-for="Input.SegundoApellido" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control border border-primary" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <label asp-for="Input.Rol"></label>
            <select asp-for="Input.Rol" class="selectpicker form-control" data-live-search="true" data-style="btn-primary">
                <option></option>
                <option value="2">Ministerio Público</option>
                <option value="3">Fiscal Regional</option>
                <option value="4">Fiscalia Metropolitano</option>
                <option value="5">Agencia Estatal de Investigación</option>
                <option value="6">Fiscal Especializado</option>
                <option value="1">Root</option>
            </select>
            <span asp-validation-for="Input.Rol" class="text-danger"></span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <label asp-for="Input.UR"></label>
            <select asp-for="Input.UR" class="selectpicker form-control" data-live-search="true" data-style="btn-primary">
                <option></option>
                <option value="0">N/A</option>
                @foreach (var item in ViewBag.urs)
                {
                <option value="@item.Id">@item.Nombre</option>
                }
            </select>
            <span asp-validation-for="Input.UR" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row" id="fiscEspecial">
        <div class="col-12 col-md">
            <label asp-for="Input.FiscaliaId"></label>
            <select asp-for="Input.FiscaliaId" class="selectpicker form-control" data-live-search="true"
                    data-style="btn-primary" asp-items="fiscalias"></select>
            <span asp-validation-for="Input.FiscaliaId"></span>
        </div>
    </div>
    <div class="row" id="MpId">
        <div class="col-12 col-md">
            <label asp-for="Input.FiscaliaMpId"></label>
            <select asp-for="Input.FiscaliaMpId" class="selectpicker form-control" data-live-search="true"
                    data-style="btn-primary" asp-items="fiscaliasMp"></select>
            <span asp-validation-for="Input.FiscaliaMpId"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </div>
</form>
<p class="text-center text-danger"><small>Nota: La contraseña por Default es <b>Uat@@.2021*</b> es responsabilidad del usuario realizar el cambio a la brevedad.</small></p>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
<script>
    $(document).ready(function () {
        $("#fiscEspecial").hide();
        $("#MpId").hide();
    });

    $("#Input_Rol").on('change', function () {
        console.log(this.value);
        if (this.value == 2) {
            $("#MpId").show();
            $("#MpId").prop('required', true);
            $("#fiscEspecial").hide();
            $("#Input_FiscaliaId").prop('required', false);
        }
        else if (this.value == 6) {
            $("#fiscEspecial").show();
            $("#Input_FiscaliaId").prop('required', true);
            $("#MpId").hide();
            $("#MpId").prop('required', false);
        }
        else {
            $("#fiscEspecial").hide();
            $("#Input_FiscaliaId").val("");
            $("#Input_FiscaliaId").prop('required', false);
            $("#MpId").hide();
            $("#MpId").prop('required', false);
            $("#MpId").val("");
        }
    });

</script>
}
